.about_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.About_portion {
  background-color: rgba(10, 10, 10, 0.5);
  border: 3px solid goldenrod;
  border-radius: 1rem;
  color: aliceblue;
  padding: 30px;
}

.about_paragraph {
  text-transform: capitalize;
}

.about_heading {
  text-align: center;
  font-family: "Roboto Slab", serif;
}

.about_subheading {
  color: goldenrod;
  font-family: "Roboto Slab", serif;
}

.change_color {
  color: goldenrod;
}

.subheading_title {
  font-size: 1.1rem;
}