.contact-heading {
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  color: aliceblue;
}

.contact-form h2 {
  color: aliceblue;
}

.change_color {
  color: goldenrod;
}

.contact-form p {
  margin: 0 0 12px 0;
  color: aliceblue; 
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.input-fields label {
  color: aliceblue;
  margin: 8px 0 0 0;
}

.input-fields input, textarea {
  padding: 10px 8px;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 3px 0 0 0;
}

.input-fields input:focus, textarea:focus {
  background: rgba(255, 255, 255, 0.9);
  outline-color: goldenrod;
}

.submit-btn {
  background-color: goldenrod;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 0 0;
}

.submit-btn:hover {
  background-color: #dcbc6f;
}

.submit-btn:active {
  background-color: gold;
}