.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: whitesmoke;
  margin: 3rem 0;
}

.testimonial-heading {
  text-align: center;
  color: whitesmoke;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  margin: 3rem 0 2rem 0;
}

.testimonial-card {
  width: calc(33.333% - 20px);
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgba(10, 10, 10, 0.5);
  border: 2px solid goldenrod;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  padding: 7px 0 0 0;
  text-align: justify;
}

.testimonial-info {
  padding: 20px;
}

.testimonial-stars {
  display: flex;
  gap: 5px;
  background-color: rgba(220, 220, 220, 0.2);
  border-radius: 50px;
  padding: 4px 8px;
  width: fit-content;
  margin: 0 0 5px 0;
}

.testimonial-text {
  margin-bottom: 10px;
}

.testimonial-author {
  font-style: italic;
  font-size: 14px;
  color: whitesmoke;
}

.testimonial-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(218, 165, 32, 0.8);
}

@media (max-width: 768px) {
  .testimonial-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .testimonial-card {
    width: calc(100%);
  }
}