.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: whitesmoke;
  margin: 3rem 0;
}

.testimonial-heading {
  text-align: center;
  color: whitesmoke;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  margin: 3rem 0 2rem 0;
}

.testimonial-card {
  width: calc(33.333% - 20px); /* Adjust card width for responsiveness */
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.5);
  border: 2px solid whitesmoke;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.testimonial-info {
  padding: 20px;
}

.testimonial-image {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.testimonial-text {
  margin-bottom: 10px;
}

.testimonial-author {
  font-style: italic;
  font-size: 14px;
  color: whitesmoke;
}

.testimonial-card:hover {
  transform: scale(1.05); /* Slide in from the left on hover */
}

@media (max-width: 768px) {
  .testimonial-card {
    width: calc(50% - 20px); /* Adjust card width for smaller screens */
  }
}

@media (max-width: 480px) {
  .testimonial-card {
    width: calc(100% - 20px); /* Adjust card width for mobile screens */
  }
}